@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    font-family: 'Poppins', sans-serif

    ;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar{
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.35) 100%);
  backdrop-filter: blur(17px);
  width: auto;
  height: 50px;
  flex-shrink: 0;
}
.text-animation {
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#container {
    overflow:hidden;
    position:relative;
}
.hideMe {
    -webkit-animation: cssAnimation 5s forwards; 
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}


.sm\:hidden {
  display: none;
}
@layer components {
  .sidebar-icon{
    @apply relative flex items-center justify-center
          h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800
           text-blue-200
          hover:bg-blue-800 hover:text-white rounded-3xl hover:rounded-xl
          transition-all duration-300 ease-linear cursor-pointer;


}
  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14
            rounded-md shadow-md
            text-white bg-gray-900
            text-xs font-bold
            transition-all duration-100 scale-0 origin-left;
}
}
